/* #movie-container{
    display: flex;
    flex-wrap: wrap;
    /* justify-content:flex-start; */
    /* justify-content: center; /* 수평 가운데 정렬 */
    /* align-items: center; 수직 가운데 정렬 */
/* }

#movie-card{
    background-color: black;
    color: orange; /* 텍스트 색상을 노란색으로 설정 */
    /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    width: 300px;
    height: 800px;
    margin: 10;
    padding:10; */
    /* flex-direction: column; */
    /* white-space: pre-wrap; */
    /* display: flex;
    flex-wrap: wrap; /* 요소가 가로로 넘칠 경우 자동으로 아래로 내려가도록 설정 */
    /* justify-content:flex-start; */ 
/* }



#movie-info {
    width: 300px;
    white-space: pre-wrap;
} */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }

  .navbar {
    background-color: #333;
    color: #fff;
    padding: 10px;
  }

  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }

  .movie-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .movie-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    width: 100%;
  }

  .movie-card {
    width: calc(33.33% - 20px);
    margin: 0;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
  }

  .movie-card:hover {
    transform: scale(1.03);
  }

  .movie-card img {
    width: 100%;
    height: auto;
  }

  .movie-title {
    font-size: 1.2rem;
    font-weight: bold;
  }

  .movie-overview {
    margin-top: 10px;
  }